body{
    background-color:whitesmoke;
}
h1{
    text-align: center;
    font-size: 75px;
    margin-top: 25px;
    font-family:'Franklin Gothic Medium';
}
p{
    color: orange;
    text-align: center;
    font-size: large;
}
a{
    color:seagreen;
    font-size: medium;
    font-weight: bold;
    font-size: 20px;
}
h2{
    font-weight: bold;
    color: cyan;
}
ol{
    color:black;
    font-size: 20px;
}
li a{
    text-decoration: none;
    color:black;
}
#coding{
    text-align: center;
}

.menu{
    text-decoration: none;
    color: black;
    font-family:'Gill Sans MT';
}
